body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: black;
  margin: 0;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: #f4f4f4;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

h2 {
  color: black;
  background: white;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  width: 100%;
  padding: 10px;
  background: black;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 10px;
}

.btn:hover {
  background: #333;
}

p {
  margin-top: 10px;
}

a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}
