

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #827b7b;
  color: white;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.login-button {
  padding: 8px 12px;
  background-color: #ff9900;
  border-radius: 5px;
}

.login-button:hover {
  background-color: #ff7700;
}


.create-account-container {
  background-color: lightblue;
}

